* {
  margin: 0px;
  padding: 0px;
}

.dot {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: black;
}

.cell {
  width: 50px;
  aspect-ratio: 1;
  border: 1px solid black;
}
